body {
  background-image: url("myTunes-img.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  font-family: 'Palanquin Dark', sans-serif;
}

h4 {
  font-family: 'Josefin Sans', sans-serif;
}

h5 {
  font-family: 'Josefin Sans', sans-serif;
}

form {
  margin: 50px;
  text-align: center;
}

.well {
  opacity: 0.9;
  filter: 1;
}

songs {
  font: black;
}
